@tailwind base;
@tailwind components;
@tailwind utilities;


input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}
html {
  background-color:#023047;
}

.mask-video {
  -webkit-mask-image: url('/zdrowie-mask.svg');
  mask-image: url('/zdrowie-mask.svg');
  -webkit-mask-position: 49.75% 47.185%;
  mask-position: 49.75% 47.185%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

